<div
  id="mobile-menu-open"
  class="shadow-large"
  (click)="openMobileMenu($event)"
>
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<!-- End #mobile-menu-toggle -->
<header [ngClass]="{ active: toggle }">
  <div id="mobile-menu-close" (click)="openMobileMenu($event)">
    <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <ul id="menu" class="shadow">
    <li>
      <a
        [routerLink]="['/' + nombreUsuario]"
        fragment="about"
        skipLocationChange
        (click)="openMobileMenu($event)"
        >About</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/' + nombreUsuario]"
        fragment="experience"
        skipLocationChange
        (click)="openMobileMenu($event)"
        >Experience</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/' + nombreUsuario]"
        fragment="education"
        skipLocationChange
        (click)="openMobileMenu($event)"
        >Education</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/' + nombreUsuario]"
        fragment="projects"
        skipLocationChange
        (click)="openMobileMenu($event)"
        >Projects</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/' + nombreUsuario]"
        fragment="skills"
        skipLocationChange
        (click)="openMobileMenu($event)"
        >Skills</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/' + nombreUsuario]"
        fragment="contact"
        skipLocationChange
        (click)="openMobileMenu($event)"
        >Contact</a
      >
    </li>
    <li>
      <div class="navbar__links__login">
        <button
          class="navbar__links__loginBtn"
          (click)="login()"
          *ngIf="!isLogged"
        >
          Login
        </button>
        <button
          class="navbar__links__loginBtn"
          (click)="onLogout()"
          *ngIf="isLogged"
        >
          Logout
        </button>
      </div>
    </li>
  </ul>
</header>
<!-- End header -->
