.gradient-custom {
  background: #6a11cb;

  background: -webkit-linear-gradient(to right, rgb(114, 129, 0), rgb(0, 0, 0));

  background: linear-gradient(to right, rgb(120, 135, 0), rgb(0, 0, 0));
}

.card-body div a:hover {
  cursor: pointer;
  color: rgb(224, 255, 0) !important;
}

.vh-100 {
  display: flex;
  align-items: center;
}
.fw-bold {
  color: rgb(224, 255, 0) !important;
}
