<aside id="social" [@fadeInLeftOnEnter]>
  <ul class="social">
    <li>
      <a href="https://github.com/EzequielMassa" target="_blank"
        ><i class="fa fa-github" aria-hidden="true"></i
      ></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/ezequiel-massa-dev/" target="_blank"
        ><i class="fa fa-linkedin" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/ezequielmassa.dev/" target="_blank"
        ><i class="fa fa-instagram" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ezequielmassa.dev@gmail.com"
        target="_blank"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
    </li>
  </ul>
</aside>
